*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    transition: .6s ease-in-out all;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.main{
    width: 100%;
   background: rgb(125, 159, 164);
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
.navbar{
    width: 86%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}
ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10% 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
    transition: .4s ease;  
}
ul li a:hover{
    background-color: orangered;

}

.title h3{
    font-size: 40px;
    letter-spacing: 1px;
    text-align: center;
}

.title  h3 span{
    color: rgb(230, 104, 59);
    font-size: 40px;
}

.info{
    margin-left: 7%;
    margin-bottom: 6%;
}

.info h1{
    font-size: 60px;
    color: rgb(166, 69, 21);
}

.image{
    display: flex;
    justify-content: center;
    top: 0;
    position:relative
}
.my-button{
    background-color: #3498db;
    columns: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.my-button:hover{
    background-color: #8929b9;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 80px;
}

