*{
   padding: 0;
    margin: 0;
    font-size: 16px;
    transition: .6s ease-in-out all;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.main{
    width: 100%;
    background: #767d8f;

    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.navbar{
    width: 86%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}
ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10% 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
    transition: .4s ease;  
}
ul li a:hover{
    background-color: orangered;
}

body, input, textarea, a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.section-wrapper{
    width: 100%;
    padding: 10px;
}

.box-wrapper{
    position: relative;
    display: table;
    width: 1100px;
    margin: auto;
    margin-top: 35px;
    border-radius: 30px;
}

.info-wrap{
    width: 35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 30px;
    background: adient(144deg, rgba(126,39,156,1)0% rgba(49, 39, 157, 1)100%);
    color: #fff
}
