*{
   padding: 0;
    margin: 0;
    font-size: 16px;
    transition: .6s ease-in-out all;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #000;
    font-family: "poppins", sans-serif;
    font-weight: 500;
}

.main{
    width: 100%;
    background: #767d8f;

    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.navbar{
    width: 86%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}
ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10% 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
    transition: .4s ease;  
}
ul li a:hover{
    background-color: orangered;
}
.container{
    min-height: 100vh;
    width: 100%;
    background-color: #191a2b;
}
.project-wrapper{
    padding: 5% 8%;
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #fff;
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;
    background-color: rgb(4, 52, 83);
    background: pink;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

h1:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 80%;
    border-radius: 8px;
    background-color: bisque;

}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 80px;
}
.card{
    height: 350px;
    width: 370px;
    background-color: #1c2335;
    padding: 3% 8%;
    border: 0.2px solid;
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.card::after{
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}
.card:hover:after{
    width: 2255;
    top: -100%;
}

.card i{
    color: #72e2ae;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}

.card h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.card p{
    text-align: center;
    width: 100%;
    margin: 12px 0;
    color: rgba(255, 255, 255, 0.6);

}
.card:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #00ff37;
}
.card:hover i{
    color: #00ff37;
}
@media screen (max-width:1200px) {
    .cards{
        grid-template-columns:repeat(2,1fr)
    }
}

@media screen(max-width:1200px) {
    .cards{
        grid-template-columns:repeat(2,1fr)
    }
    h1{
        font-size: 3.5rem;
    }
}
