*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    transition: .6s ease-in-out all;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.main{
    width: 100%;
    background-image: url("../images_folder/bg.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
.navbar{
    width: 86%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}
ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10% 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
    transition: .4s ease;  
}
ul li a:hover{
    background-color: orangered;
}
.info{
    margin-left: 7%;
    margin-top: 6%;
}

.info h1{
    font-size: 60px;
    color: rgb(36, 32,30);
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.info  h3 span{
    color: rgb(230, 104, 59);
    font-size: 18px;
}

.info  h1 span{
    color: rgb(230, 104, 59);
    font-size: 60px;
}

.info a{
    text-decoration: none;
    color: #fff;
    background: rgb(36, 32, 30);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}

.info a:hover{
    background: rgb(59, 174, 209);
}
.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 2s  ease; 
}

.image:hover .profile{
    left: 55%;
} 

.icons a{
    text-decoration: none;
    color: #000;
}

.icons ion-icon{
    margin-left: 7%;
    color: #000;
    margin-right: -60px;
    font-size: 40px;
    transition: .4s;
}

.icons ion-icon:hover{
    color: rgb(59, 174, 209);
}



